@import url("https://fonts.googleapis.com/css?family=Francois+One|Lato:300,400");
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  color: black;
  background-color: #D8E6E7;
  background-image: url("../images/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover; }

.wrapper {
  text-align: center;
  margin-top: 10%; }
  .wrapper h1 {
    font-family: "Francois One", sans-serif;
    margin: 0; }
    .wrapper h1 .intro {
      font-family: "Lato", sans-serif;
      font-weight: 300;
      font-size: 0.5em;
      text-transform: uppercase;
      margin: 0;
      padding: 0; }
  .wrapper p {
    padding: 0;
    margin: 5px 0 10px 0; }
  .wrapper img {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 120px; }
  .wrapper .img-circle {
    border-radius: 50%; }
  .wrapper #social-links i {
    padding: 10px 10px;
    font-size: 2em; }
  .wrapper #social-links a {
    color: black;
    text-decoration: none; }
